.socialPanel{
    position: fixed;
    top: 0;
    right: -16.9rem;
    display: grid;
    grid-template: "header" 4.2rem "logs" 1fr / 1fr;
    height: 100vh;
    width: 100%;
    max-width: 16.9rem;
    padding: 1rem .8rem;
    background-color: var(--color-selection);
    transition: .5s;
    z-index: 99;
}

.socialPanel.opened{
    right: 0;
}

.socialPanel .closeBtn{
    position: fixed;
    top: 4rem;
    right: 0rem;
    transition: .5s;
}

.socialPanel .closeBtn:not([data-badge="0"])::after{
    content: attr(data-badge);
    position: absolute;
    top: -.1rem;
    left: -.1rem;
    background-color: var(--color-yellow);
    padding: .0 .35rem;
    border-radius: 50%;
    font-family: var(--font-body);
    font-weight: bold;
    color: var(--color-background);
}

.socialPanel.opened .closeBtn{
    right: 16.8rem;
}

.socialPanel header{
    grid-area: header;
    border-bottom: 1px solid var(--color-comment);
}

.socialPanel .gravatar{
    float: right;
}

.socialPanel .backBtn{
    font-size: 88%;
}

.socialPanel .logs *,
.socialPanel .roomNum,
.socialPanel .roomNum *{
    -webkit-user-select: text!important;
    -moz-user-select: text!important;
    -ms-user-select: text!important;
    user-select: text!important;
}

.socialPanel .roomNum{
    cursor: pointer;
}

.socialPanel .logs{
    grid-area: logs;
    font-size: 0.8rem;
    padding-top: .2rem;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.socialPanel .logs ul{
    overflow-x: hidden;
    list-style: none;
}

.socialPanel .logs li{
    padding: .4rem 0;
}

.socialPanel .logs li:hover .info-box,
.socialPanel .logs li:focus-within .info-box{
    display: block!important;
}

.socialPanel .logs li:hover p,
.socialPanel .logs li:focus-within p{
    overflow-x: auto!important;
    white-space: normal !important;
}

.socialPanel .logs li:hover i,
.socialPanel .logs li:focus-within i{
    color: var(--color-orange)
}

.socialPanel .logs li:not(:last-child){
    border-bottom: 1px solid rgba(248, 248, 242, .5);
}

.socialPanel .logs p{
    width: calc( 16.9rem - .8rem * 2 - .3rem * 2 );
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.socialPanel .logs .info-box{
    margin-top: .2rem;
    padding: .2rem .3rem;
    background-color: #5b5f79;
    border-radius: .15rem;
}

.socialPanel .logs li:not(:last-child) .info-box{
    display: none;
}

.socialPanel h4{
    margin-bottom: .3rem;
}

.socialPanel .info-button{
    background-color: transparent;
    margin: 0;
    padding: 0;
}

@media all and (min-width: 1250px){
    .socialPanel{
        right: 0;
    }
    .socialPanel .closeBtn{
        display: none;
    }
}
