.hand-name{
    margin-bottom: .8rem;
    font-size: 1.25rem!important;
    text-align: center;
}

label.button{
    width: calc((100vw / 5) - .2rem);
    max-width: calc(var(--width-card) - 0.1rem);
    padding: .6rem 0;
    color: var(--color-selection);
    background-color: var(--color-green);
}

.table{
    display: flex;
    justify-content: center;
}

.swapButtons{
    margin-top: .2rem;
    display: flex;
    justify-content: center;
}

.swapButtons input{
    display: none;
}

.swapButtons input[name="swaps"]:checked + .button{
    background-color: var(--color-red);
    color: var(--color-foreground);
}

.swapButtons input[name="swaps"]:checked + .button i::before{
    content:  "\f2f9";
}

.gameButtons{
    display: flex;
    justify-content: space-between;
    margin-top: .4rem;
    width: 100vw;
    max-width: calc( var(--width-card) * 5);
}

.table,
.swapButtons,
.hand-name{
    width: 100vw;
    max-width: calc( (var(--width-card) + 2px) * 5);
}

.swapsCount{
    position: fixed;
    bottom: 1rem;
    text-transform: uppercase;
}

.swapsCount i{
    margin-left: .25rem;
}

.swapsCount.level-1{
    color: var(--color-green);
}

.swapsCount.level-2{
    color: var(--color-yellow);
}

.swapsCount.level-3{
    color: var(--color-red);
}
