:root{
    --color-background: #282A36;
    --color-foreground: #F8F8F2;
    --color-selection: #44475A;
    --color-comment: #6272A4;
    --color-red: #FF5555;
    --color-cyan: #8BE9FD;
    --color-green: #50FA7B;
    --color-purple: #BD93F9;
    --color-yellow: #F1FA8C;
    --color-orange: #ffa23e;
    --color-pink: #FF79C6;
    --font-body: 'Nova Mono', Georgia, 'Times New Roman', Times, serif;
    --font-title: 'Press Start 2P', Georgia, 'Times New Roman', Times, serif;
    --width-card: 140px;
    font-size: 100%;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

html, body, #root{
    min-height: 100vh;
}

body,input,textarea{
    font-family: var(--font-body)
}

input,textarea{
    font-size: inherit;
    border: 0;
    border-radius: 1px;
}

body{
    color: var(--color-foreground);
    background-color: var(--color-background);
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: var(--color-orange);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.button{
    font-family: var(--font-title)
}

button,
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-foreground);
    background-color: var(--color-orange);
    border: 0;
    border-radius: .1rem;
    padding: .8rem 1rem;
    font-size: .8rem;
    text-transform: uppercase;
    margin: 0 .1rem;
}

button:not(:disabled),
.button:not(:disabled){
    cursor: pointer;
}

button i,
.button i{
    display: none;
    margin-right: .3rem;
}

button:disabled,
.button:disabled{
    background-color: var(--color-selection);
}

.backBtns{
    margin-top: 1rem;
}


@media all and (min-width: 1360px){
    :root{
        font-size: 120%;
    }
}

@media all and (min-width: 430px){

    button i,
    .button i{
        display: inline-block;
    }
}
