.hand-name{
    font-size: 2rem;
    margin-bottom: .8rem;
}

.card{
    width: var(--width-card);
    margin: 0 1px;
    display: inline-block;
    overflow: hidden;
}

.card.mini{
    height: 190px;
}

.card.full{
    height: 196px;
}

.card img{
    height: 100%;
}

.card.anim img{
    animation: card-anim 1s linear infinite forwards;
}

@keyframes card-anim{
    0%,12.49%{
        transform: translateX(calc(var(--width-card) * -0));
    }
    12.5%,24.99%{
        transform: translateX(calc(var(--width-card) * -1));
    }
    25%,37.49%{
        transform: translateX(calc(var(--width-card) * -2));
    }
    37.5%,49.99%{
        transform: translateX(calc(var(--width-card) * -3));
    }
    50%,62.49%{
        transform: translateX(calc(var(--width-card) * -4));
    }
    62.5%,74.99%{
        transform: translateX(calc(var(--width-card) * -5));
    }
    75%,87.49%{
        transform: translateX(calc(var(--width-card) * -6));
    }
    87.5%,99.99%{
        transform: translateX(calc(var(--width-card) * -7));
    }
    100%{
        transform: translateX(calc(var(--width-card) * -8));
    }
}